body {
	font-family: Georgia;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	align-items: center;
	justify-content: space-between;
	min-width: 380px;
}

h1 {
	font-size: 24px;
	line-height: 21px;
}

h2 {
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	margin: 0;
	padding-right: 21px;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	color: #333;
	background: #0000801a;
}

h3,
h4 {
	text-align: center;
}

h3 {
	font-family: Tahoma;
	font-size: 19px;
	height: 18px;
	margin: 20px 0 9px;
}

h4 {
	font-size: 14px;
	margin: 17px 0 9px;
}

textarea {
	resize: none;
}

select {
	background: #fff;

	option:first-child {
		display: none;
	}
}

article,
footer {
	width: 100%;
	max-width: 980px;
}

.wrapper {
	display: flex;
}

.horizontal-line {
	width: 100%;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #fff 0%, #ccc 25%, #ccc 75%, #fff 100%);
	background-image: -o-linear-gradient(left, #fff 0%, #ccc 25%, #ccc 75%, #fff 100%);
	background-image: linear-gradient(to right, #fff 0%, #ccc 25%, #ccc 75%, #fff 100%);
}

article {
	flex-direction: row;
	margin-bottom: 55px;

	.left-sidebar {
		flex-direction: column;
		margin-right: 70px;

		.request {
			width: 327px;
			border-radius: 3px;
			background-image: -webkit-linear-gradient(bottom, #f1f1f1 0%, #fff 100%);
			background-image: -o-linear-gradient(bottom, #f1f1f1 0%, #fff 100%);
			background-image: linear-gradient(to top, #f1f1f1 0%, #fff 100%);
			box-shadow: 3px 5px 12px 0 rgba(0, 0, 0, 70%);

			.info {
				flex-direction: column;
				width: 90%;
				margin: auto;
				align-items: center;

				select,
				textarea,
				input {
					font-size: 13px;
					width: 100%;
					margin: 0;
					padding: 5px 8px 2px;
					border: unset;
					border-radius: 3px;
					box-shadow: inset 1px 1px 1px #acadb2,
						inset -1px -1px 1px #e2e9ef,;
				}

				textarea {
					width: ~'calc(100% - 18px)';
					height: 123px;
				}

				input {
					width: ~'calc(100% - 20px)';
				}

				select {
					padding-left: 3px;
					color: #6b6b6b;

					option {
						color: #000;
					}
				}

				.address {
					margin-top: 8px;
				}

				.address,
				.phones {
					flex-direction: row;
					width: ~'calc(100% - 4px)';

					input:not(:last-child) {
						margin-right: 3%;
					}
				}

				.phones {
					margin-bottom: 19px;
				}
			}

			.bottom {
				width: 100%;
				height: 72px;
				background: #00808033;
				justify-content: flex-end;
				align-items: center;

				button {
					font-family: Tahoma;
					font-size: 14px;
					font-weight: 700;
					height: 32px;
					margin-right: 11px;
					padding: 0 16px;
					cursor: pointer;
					color: #ffffff;
					border: unset;
					border-radius: 100px;
					background-image: -webkit-linear-gradient(bottom, #47a2c4 0%, #086587 23%, #0d98cc 67%, #52bce3 85%, #71d9ff 100%);
					background-image: -o-linear-gradient(bottom, #47a2c4 0%, #086587 23%, #0d98cc 67%, #52bce3 85%, #71d9ff 100%);
					background-image: linear-gradient(to top, #47a2c4 0%, #086587 23%, #0d98cc 67%, #52bce3 85%, #71d9ff 100%);
					box-shadow: 0 3px 15px #062c82;
					text-shadow: 0 1px 0 rgba(0, 60, 65, 0.75);

					&:hover {
						background-image: -webkit-linear-gradient(bottom, lighten(#47a2c4, 10%) 0%, lighten(#086587, 10%) 23%, lighten(#0d98cc, 10%) 67%, lighten(#52bce3, 10%) 85%, lighten(#71d9ff, 10%) 100%);
						background-image: -o-linear-gradient(bottom, lighten(#47a2c4, 10%) 0%, lighten(#086587, 10%) 23%, lighten(#0d98cc, 10%) 67%, lighten(#52bce3, 10%) 85%, lighten(#71d9ff, 10%) 100%);
						background-image: linear-gradient(to top, lighten(#47a2c4, 10%) 0%, lighten(#086587, 10%) 23%, lighten(#0d98cc, 10%) 67%, lighten(#52bce3, 10%) 85%, lighten(#71d9ff, 10%) 100%);
					}
				}

				.we-recall {
					font-size: 12px;
					width: 50%;
					color: #3e3e3e;
					line-height: 17px;
				}
			}
		}

		h1 {
			padding-top: 40px;
		}

		.partners {
			flex-direction: row;
			width: 327px;
			flex-wrap: wrap;
			justify-content: space-between;
			font-family: Tahoma;

			.slide {
				line-height: 77px;
				min-width: 46.5%;
				height: 77px;
				margin-bottom: 5%;
				text-align: center;
				color: #a2a2a2;
				border: 1px solid #d9d9d9;
			}
		}
	}

	.content {
		flex-direction: column;

		h1,
		h2,
		.content-text {
			padding: 0 12px;
		}

		h2,
		.content-text {
			width: 85%;
			margin-bottom: 15px;
		}

		.content-text {
			font-size: 14px;
			line-height: 21px;
		}

		.reviews {
			border-radius: 5px;

			.block {
				flex-direction: row;
				min-height: 115px;
				border: 1px solid #fff;
				background-image: -webkit-linear-gradient(bottom, #f1f1f1 0%, #fafafa 100%);
				background-image: -o-linear-gradient(bottom, #f1f1f1 0%, #fafafa 100%);
				background-image: linear-gradient(to top, #f1f1f1 0%, #fafafa 100%);
				box-shadow: inset 0 1px 2px #23262645;
				align-items: center;
				padding: 10px 8px 10px 0;

				.logo {
					float: left;
					min-width: 125px;
					height: 100%;

					img {
						margin: auto;
					}
				}

				.reviews-text {
					padding-right: 25px;

					&:first-letter {
						margin-left: -8px;
					}
				}
			}
		}

		.another-reviews {
			padding-top: 11px;
		}
	}
}

footer {
	position: relative;
	padding: 18px 0 40px;

	.cn,
	.dispatcher,
	.commerce {
		font-size: 14px;
		line-height: 25px;
		white-space: nowrap;
		color: #363636;
	}

	.cn {
		width: 327px;
	}

	.dispatcher {
		margin-right: 10%;
	}
}

@media (max-width: 768px) {
	body {
		padding: 0;
	}

	article {
		flex-direction: column;

		.left-sidebar {
			margin: 0;

			.request {
				width: 100%;
			}

			.partners {
				width: 100%;

				.slide {
					min-width: ~'calc(33% - 2px)';
					margin: 0;

					@media (max-width: 425px) {
						min-width: ~'calc(50% - 2px)';
					}
				}
			}
		}

		.content {
			h2,
			.content-text {
				width: ~'calc(100% - 24px)';
			}
		}
	}

	footer {
		flex-direction: column;
		align-items: center;
		text-align: center;

		.cn {
			width: unset;
		}

		.content {
			flex-direction: column;

			.dispatcher {
				margin: 15px 0;
			}
		}
	}
}